/* IMPORT LOCAL FONTS */
@font-face {
	font-family: catamaran;
	src: url(../fonts/Catamaran.ttf);
}

@font-face {
	font-family: roboto;
	src: url(../fonts/Roboto.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* General */
.flex {
	display: flex;
}

.no_vision,
.no_small {
	display: none;
}

svg {
	width: 30px;
	height: 30px;
}

body {
	font-family: roboto, sans-serif;
}

h1,
h2,
h3,
a {
	font-family: catamaran, sans-serif;
}

/*.clear {
	content: ' ';
	clear: both;
}*/

/* Header */
header .container {
	padding: 2em;
	background: #152F45;
	color: #fff;
}

.hamburger_menu {
	float: right;
}

.header_logo {
	width: 88%;
	align-items: center;
}
.header_logo img {
	width: 80px;
	margin-right: 10px;
}

h1 {
	color: #00bfa5;
	font-size: 26px;
	line-height: 25px;
}

header h2 {
	font-size: 16px;
}

a {
	text-decoration: none;
	color: #fff;
}

.business_info {
	flex-direction: column;
	align-items: center;
}

.business_info > div {
	text-align: center;
	margin: 1.5em 0;
}

/* MAIN */

/* SHOWCASE */
#showcase {
	/*height: 400px;*/
}



.showcase {
	/*background: url(../images/technician.png);*/
	/*background: linear-gradient(to bottom, rgba(0,0,0, 0.5), rgba(21,47,69, 0.5));*/	
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 400px;
	letter-spacing: 1px;
	padding: 1em;
	font-size: 18px;
}

.showcase h2 {
	font-size: 40px;
	line-height: 60px;
}

.showcase span {
	color: #00bfa5;
}

.slider_one {
	background: linear-gradient(to bottom, rgba(0,0,0, 0.7), rgba(21,47,69, 0.8)), url(../images/news-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.slider_two {
	background-image: linear-gradient(to bottom, rgba(0,0,0, 0.7), rgba(21,47,69, 0.8)), url(../images/news-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.slider_three {
	background: linear-gradient(to bottom, rgba(0,0,0, 0.7), rgba(21,47,69, 0.8)), url(../images/technician.png);
	background-repeat: no-repeat;
	background-size: cover;
}

/* SUBSCRIBE */
#subscribe {
	background: ;
	color: #fff;
	padding: 1em;
	background-image: linear-gradient(to bottom, rgba(21,47,69, 0.9), rgba(21,47,69, 1)), url(../images/gripsense_repair.jpg);
	background-repeat: no-repeat;
	background-size: cover;	
	background-position: center;
}

#subscribe h2 {
	margin-bottom: 1em;
}

#subscribe input {
	width: 80%;
	padding: 1em;
	margin-bottom: 1em;
	background: #fff;
	border: transparent;
	border-radius: 2px;
	box-shadow: 2px 2px 8px #222;
	color: #000;
}

#subscribe input:last-child {
	background: #00bfa5;
	color: #fff;
	font-weight: bolder;
	font-size: 16px;
}

/* FOOTER */
footer {
	background: #161616;
	color: #fff;
	padding: 2em;
}

.flex_col_small {
	display: flex;
	flex-direction: column;
}

.footer_logo {
	align-items: center;
	margin: 1.5em 0;
}

.footer_logo img {
	width: 60px;
	margin-right: 10px;
}

.footer_logo h2 {
	color: #00BFA5;
	line-height: 25px;
}

.footer_logo h3 {
	font-size: 16px;
}

.mission {
	margin: 1.5em 0;
	line-height: 20px;
}

.social {
	margin: 1em 0;
}

.profile .social > div {
	background: #222;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	border-radius: 5px;
}

.profile .social svg {
	width: 20px;
	height: 20px;	
}

.upper_footer > div {
	margin: 1.5em 0;
}

.upper_footer h3:first-child {
	margin: 2em 0 0.4em 0;
	font-size: 25px;
}

.upper_footer p {
	margin-bottom: 1em;
	letter-spacing: 1px;
}

.upper_footer span {
	display: block;
}

.upper_footer > .location {
	background-image: url(../images/map.png);
}

.upper_footer .phone a,
.upper_footer .phone svg {
	color: #00BFA5;
}

.upper_footer .phone a {
	font-size: 26px;
	margin-left: 10px;
}

.lower_footer nav {
	width: 70%;
	justify-content: space-around;
	margin: 2em auto;
}

.lower_footer nav a{
	border-right: 1px solid #ffffff22;
	padding-right: 1.4em;
}

.lower_footer nav a:last-child {
	border-right: none;
}

footer > .container > p:last-child {
	text-align: right;
	margin-top: 1em;
}

.copy_info {
	text-align: center;
}

.wisest {
	color: #subscribe input
}

hr {
	opacity: 0.2
}

/* HAMBURGER MODAL*/
.hamburger_modal {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: -100vh;
	left: 0;
	color: #fff;
	fill: #fff;
	transition: 0.5s ease;
	z-index: 2;
}

.hamburger_modal .container {
	width: 100%;
	height: 100vh;
	background: #152F45;
	margin: 0 auto;
	padding: 2em;
}

.hamburger_modal a {
	margin-bottom: 0.5em;
	font-size: 22px;
}

.close_modal {
	float: right;
	margin-right: 0.2em;
}

.hamburger_modal nav {
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.hamburger_modal .copy_info {
	position: absolute;
	bottom: 10px;
	text-align: center;
	width: 90%;
	padding: 1em;
}

.hamburger_modal .copy_info p:last-child {
	text-align: right;
	margin-top: 3px;
}

.hamburger_modal .social {
	width: 50%;
	justify-content: space-around;
	margin: 4em auto;
}

/* Phone Modal */
.phone_modal_icon {
	position: fixed;
	right: 1em;
	bottom: 3em;
}
.phone_quicklinks {
	width: 45px;
	height: 45px;
	background: #00BFA5;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 4px #00BFA5;
	color: #161616;
}

.phone_modal {
	width: 70%;
	height: 200px;
	position: fixed;
	bottom: 0;
	right: -400px;
	background: #161616;
	border: 2px solid #00BFA5;
	padding: 1em;
	border-radius: 5px;
	color: #fff;
	fill: #fff;
	max-width: 400px;
	transition: 0.5s ease;
}

.channel {
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.contact_channels {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 140px
}

.close_modal svg {
	width: 20px;
	height: 20px;
}

.channel svg {
	margin-right: 6px;
}

/* TEMPORAL CODE*/
main {
	text-align: center;
	margin: 4em 0;
}

.soon {
	margin: 4em 0;
}

/*Colors*/
/*
#00BFA5
#152F45
#2E4C66
#92969A
#161616
*/
