/* BELOW 500PX */
@media screen and (max-width: 450px) {
	.phone_modal {
		width: 95%;
	}
}

@media screen and (max-width: 400px) {
	.header_logo img {
		width: 60px;
	}

	.lower_footer nav {
		width: 95%;
	}
}

@media screen and (max-width: 350px) {
	.header_logo img {
		width: 50px;
	}
	.contact_channels svg {
		width: 25px;
		height: 25px;
	}

	.phone_modal {
		width: 100%;
	}

	.contact_channels p {
		font-size: 15px;
	}
}

/* ABOVE 500PX */
@media screen and (min-width: 550px) {
	.upper_footer p {
		font-size: 20px;
		line-height: 28px;
		letter-spacing: 2px;
		max-width: 500px;
	}
	
	.profile > div:nth-child(n+2),
	.upper_footer > div:nth-child(n+2) {
		align-self: center;

	}
}

@media screen and (min-width: 600px) {
	#subscribe input {
		max-width: 500px;
	}
	.business_info {
		flex-direction: row;
		justify-content: space-around;
	}
}

@media screen and (min-width: 800px) {
	#subscribe input {
		height: 50px;
	}
	#subscribe input:last-child {
		max-width: 200px;
	}
	.no_medium {
		display: none;
	}

	.no_small {
		display: block;
	}

	body {
		overflow-x: hidden;
	}

	.lower_header {
		position: relative;

	}

	.lower_header nav {
		position: absolute;
		width: 60%;
		max-width: 500px;
		display: flex;
		justify-content: space-around;
		bottom: -70px;
		left: -32px;
		padding: 1em;
		background: #fff;
		border-radius: 0 8px 0 0;
	}

	.lower_header nav a {
		color: #152F45;
		font-weight: bold;
		font-size: 18px;
	}
}

@media screen and (min-width: 900px) {
	.flex_med {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.upper_footer > div {
		width: 40%;
	}

	.upper_footer p {
		font-size: 18px;
	}

	.lower_footer {
		display: flex;
		flex-direction: row-reverse;
	}
	
	.lower_footer > div:last-child {
		margin-top: 2em;
	}

	.lower_footer nav {
		width: 100%;
	}

	.lower_footer nav a {
		padding-right: 1em;
		margin-left: 1em
	}

}

@media screen and (min-width: 1100px) {
	.business_info h2, p {
		font-size: 20px
	}
}